#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main {
  display: flex;

  justify-content: start;
  align-items: flex-start;
}
.main_div_div_form_h2 {
  font-size: 1.5rem;
}
.main_div_div_form_h2_label {
  font-size: 1.2rem;
}
.main_div_div_form_div {
  background-color: #fffff;
  width: full;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.1rem;

  justify-content: start;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
