<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../frontend/assets/css/style.css" />
    <title>Teste</title>
  </head>
  <body>
    <main>
      <h1>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita,
        dignissimos?
      </h1>
      <form action="/" method="post">
        <label>Nome</label>
        <input type="text" name="cliente" />
        <button>subtmit</button>
      </form>
    </main>
    <script src="./assets/js/bundle.js"></script>
  </body>
</html>
