body {
  background-color: blueviolet;
  margin: 0px;
}

h1 {
  color: rgb(245, 2, 2);
  font-family: "Times New Roman", Times, serif;
  font-size: 60px;
  text-align: center;
  margin: left;
  font-variant: small-caps;
}
h2 {
  font-size: 30px;
  font-style: italic;
  text-transform: capitalize;
  text-align: center;
}

p {
  margin: 0px;
}
.menu {
  text-align: right;
}
.menu li {
  list-style-type: none;
  margin: 10px;
  display: inline-block;
}
.menu a {
  text-decoration: none;
  color: black;
  text-transform: capitalize;
  background-color: white;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
}
.menu a:hover {
  color: white;
  background-color: black;
  border: 2px solid white;
}
.div1 {
  background-color: aquamarine;
  margin: 0px;
  padding: 20px;
}

.div2 {
  background-color: blue;
  margin: 0px;
  padding: 20px;
}

.div4 {
  background-color: khaki;
  margin: auto;
  /*border: 20px solid black;*/
  padding-bottom: 30px;
}

.div5 {
  margin: 0px;
}
.a {
  margin: 20px 0px 10px 10px;
  border: 1px solid;
  background-color: maroon;
}

.b {
  margin: 20px;
  text-align: center;
  background-color: blanchedalmond;
  border: 2px dotted black;
}

.c {
  margin: 30px;
  text-align: left;
  background-color: brown;
  padding: 10px; /*distancia da escrita até a margem*/
  border: 1px solid white; /* É a borda da caixa*/
  margin: auto; /*é a distancia da caixa e os outros elementos*/
  outline: 5px solid black; /* É a estrutura externa da caixa*/
}

.d {
  margin: 40px;
  text-align: right;
  border: 2px groove green;
}

.e {
  padding: 20px;
  border: solid 2px black;
  width: 80%;
  margin: auto;
  margin-bottom: 100px;
}

.box-sizing {
  color: white;
  background-color: black;
  width: 80%;
  margin: auto;
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 10px;
}

#a1 {
  color: aquamarine;
  box-sizing: border-box;
  border: 2px solid red;
  border-radius: 25px;
}

.sss ul li {
  background-color: blanchedalmond;
  margin: 0;
  padding: 10px;
  text-align: left;
  list-style-position: inside;
  list-style-type: none;
}
