h1 {
  text-align: center;
  font-size: xx-large;
  font-style: oblique;
}

a {
  text-decoration: none;
  color: black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 30px;
}
a:hover {
  color: yellow;
}
.mmm a:hover {
  color: blue;
}
